<div class="row">
    <div class="col-lg-12">
        <button ui-sref="add" class="btn btn-primary">เพิ่มคำศัพท์</button>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">รายการคำศัพท์ภาษาล้านนา</div>

    <!-- Table -->

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Lanna</th>
            <th>Thai</th>
            <th>Link</th>
            <th>Comment</th>
            <th>Control</th>
        </tr>
        </thead>
        <tr ng-repeat="word in words">
            <td>{{terminology.id}}</td>
            <td>{{terminology.lanna}}</td>
            <td>{{terminology.thai}}</td>
            <td>{{terminology.link}}</td>
            <td>{{terminology.comment.comment}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-expanded="true">
                        <i class="glyphicon glyphicon-user"></i> User
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a sref="comment" role="menuitem" tabindex="-1">
                                <i class="glyphicon glyphicon-comment"></i> Comment
                            </a>
                        </li>
                        <li role="presentation">
                            <a ui-sref="edit({id:word.id})" role="menuitem" tabindex="-1">
                                <i class="glyphicon glyphicon-pencil"></i> Edit
                            </a>
                        </li>
                        <li role="presentation">
                            <a ng-click="delete(word)" role="menuitem" tabindex="-1">
                                <i class="glyphicon glyphicon-trash"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tbody>

        </tbody>
    </table>
</div>