<h1>เพิ่มคำศัพท์</h1>

<form class="form-horizontal" ng-submit="submitForm()">
    <div class="control-group">
        <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
        <div class="controls">
            <input ng-model="terminology.lanna" type="lanna" id="inputlanna" placeholder="Lanna">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputthai">ภาษาไทย</label>
        <div class="controls">
            <input ng-model="terminology.thai" type="thai" id="inputthai" placeholder="Thai">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputlink">ลิงค์</label>
        <div class="controls">
            <input ng-model="terminology.link" type="link" id="inputlink" placeholder="Link">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputstatus"> Status</label>
        <div class="controls">
            <input ng-model="terminology.status.status" type="status" id="inputstatus" placeholder="Status">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  ตกลง </button>
            <button ui-sref="list1" type="button" class="btn btn-default">ยกเลิก</button>
        </div>
    </div>

</form>


