<h1>เพิ่มคำศัพท์</h1>

<form class="form-horizontal" ng-submit="submitForm()">
    <div class="control-group">
        <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
        <div class="controls">
            <input ng-model="word.lanna" type="lanna" id="inputlanna" placeholder="Lanna">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputthai">ภาษาไทย</label>
        <div class="controls">
            <input ng-model="word.thai" type="thai" id="inputthai" placeholder="Thai">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputlink">ลิงค์</label>
        <div class="controls">
            <input ng-model="word.link" type="link" id="inputlink" placeholder="Link">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputromanbali">Romanbali</label>
        <div class="controls">
            <input ng-model="word.romanbali" type="romanbali" id="inputromanbali" placeholder="Romanbali">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputthaibali">Thaibali</label>
        <div class="controls">
            <input ng-model="word.thaibali" type="thaibali" id="inputthaibali" placeholder="Thaibali">
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  ตกลง </button>
            <button ui-sref="list" type="button" class="btn btn-default">ยกเลิก</button>
        </div>
    </div>

</form>
