<h1>เพิ่มคำศัพท์</h1>

<form class="form-horizontal" ng-submit="submitForm()">
    <div class="control-group">
        <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
        <div class="controls">
            <input ng-model="terminology.lanna" type="lanna" id="inputlanna" placeholder="Lanna">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputthai">ภาษาไทย</label>
        <div class="controls">
            <input ng-model="terminology.thai" type="thai" id="inputthai" placeholder="Thai">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputlink">ลิงค์(เพศของภาษา)</label>
        <div class="controls">
            <input ng-model="terminology.link" type="link" id="inputlink" placeholder="Link">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputromanbali">บาลีโรมัน</label>
        <div class="controls">
            <input ng-model="terminology.romanbali" type="romanbali" id="inputromanbali" placeholder="Romanbali">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputthaibali">บาลีไทย</label>
        <div class="controls">
            <input ng-model="terminology.thaibali" type="thaibali" id="inputthaibali" placeholder="Thaibali">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputcomment">ความคิดเห็น</label>
        <div class="controls">
            <input ng-model="terminology.comment" type="comment" id="inputcomment" placeholder="Comment">
        </div>
    </div>

    <p>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  ตกลง </button>
            <button ui-sref="list1" type="button" class="btn btn-default">ยกเลิก</button>
        </div>
    </div>
    </p>

</form>


