<h2>รายการคำศัพท์</h2>

<div class="row">
    <div class="col-lg-12">
        <button ui-sref="add" class="btn btn-primary">เพิ่มคำศัพท์</button>
    </div>
</div>
<br>
<div class="panel panel-default">
    <!-- Default panel contents -->

    <table id="listUser" class="table table-striped table-bordered row-border hover">
            <thead>
            <tr>
                <th>ลำดับ</th>
                <th>ภาษาล้านนา</th>
                <th>ภาษาไทย</th>
                <th>ลิงค์</th>
                <th>บาลีโรมัน</th>
                <th>บาลีไทย</th>
                <th>สถานะผู้แก้ไข/เพิ่ม</th>
                <th>ความคิดเห็น</th>
                <th>Control</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="terminology in terminologys">
                <td>{{terminology.id}}</td>
                <td><h2><p class="lntilok"> {{terminology.lanna}} </p></h2></td>
                <td>{{terminology.thai}}</td>
                <td>{{terminology.link}}</td>
                <td>{{terminology.romanbali}}</td>
                <td>{{terminology.thaibali}}</td>
                <td>{{terminology.user.status.name}}</td>
                <td>{{terminology.comment}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-expanded="true">
                            <i class="glyphicon glyphicon-text-background"></i> Terminology
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a ui-sref="edit({id:terminology.id})" role="menuitem" tabindex="-1">
                                    <i class="glyphicon glyphicon-pencil"></i> Edit
                                </a>
                            </li>
                            <li role="presentation">
                                <a ng-click="delete(terminology)" role="menuitem" tabindex="-1">
                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
