@layout(){
  <h5>โครงการการจัดการระบบพจนานุกรมอิเล็กทรอนิคภาษาไทยล้านนาจัดทำขึ้นเพื่อตอบสนองต่อความต้องการของผู้ใช้ที่ต้องการสืบค้นคำศัพท์ภาษาไทยล้านนาด้วยความสะดวกรวดเร็ว</h5>

  <div>
  <h4>ผู้จัดทำโครงการ</h4>
  <h5>นางสาว จิตลดา เฮ้าปาน</h5>
    <h5>นางสาว ปณิดา นันทยานา</h5>
      <h5>นาย ทณาทัศน์ กิจพิทักษ์</h5>
        <h5> สาขาเทคโนโลยีสารสนเทศ</h5>
          <h5> มหาวิทยาลัยพะเยา</h5></div>

  <div>
  <h4>อาจารย์ที่ปรึกษาโครงการ</h4>
    <h5> อาจารย์ เชาวน์ ปอแก้ว
  อาจารย์ประจำสาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่
  มหาวิทยาลัยพะเยา</h5></div>

  <div>
  <h4>ฐานข้อมูลรวบรวมโดย</h4>
  <h5>รศ.ดร.วันชัย พลเมืองดี
  ผู้ช่วยอธิการบดีฝ่ายกิจการทั่วไป
  มหาวิทยาลัยมหาจุฬาลงกรณราชวิทยาลัย วิทยาเขตพะเยา</h5></div>




  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-like" data-href="https://facebook.com/chickenlittle.sfc"
  data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
}{

}