@layout(){
  <h3>โครงการการจัดการระบบพจนานุกรมอิเล็กทรอนิคภาษาไทยล้านนาจัดทำขึ้นเพื่อนตอบสนองต่อความต้องการของผู้ใช้ที่ต้องการสืบค้นคำศัพท์ภาษาไทยล้านนาด้วยความสะดวกรวดเร็ว</h3>

  <h1>ผู้จัดทำโครงการ</h1>
  <h3>นางสาว จิตลดา เฮ้าปาน</h3>
    <h3>นางสาว ปณิดา นันทยานา</h3>
      <h3>นาย ทณาทัศน์ กิจพิทักษ์</h3>
        <h3> สาขาเทคโนโลยีสารสนเทศ</h3>
          <h3> มหาวิทยาลัยพะเยา</h3>

  <h1>อาจารย์ที่ปรึกษาโครงการ</h1>
    <h3> อาจารย์ เชาวน์ ปอแก้ว
  อาจารย์ประจำสาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่
  มหาวิทยาลัยพะเยา</h3>

  <h1>ฐานข้อมูลรวบรวมโดย</h1>
  <h3>รศ.ดร.วันชัย พลเมืองดี
  ผู้ช่วยอธิการบดีฝ่ายกิจการทั่วไป
  มหาวิทยาลัยมหาจุฬาลงกรณราชวิทยาลัย วิทยาเขตพะเยา</h3>




  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-like" data-href="https://facebook.com/chickenlittle.sfc"
  data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
}{

}