@layout(){
  <h1>ป้อนคำศัพท์ใหม่ ( Augmernt Vocabulary )</h1>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
      <div class="controls">
        <input type="lanna" id="inputlanna" placeholder="Lanna">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputthai">ภาษาไทย</label>
      <div class="controls">
        <input type="thai" id="inputthai" placeholder="Thai">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputlink">ลิงค์</label>
      <div class="controls">
        <input type="link" id="inputlink" placeholder="Link">
      </div>
    </div>
    <p>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button
      </div>
    </div>
    </p>
  </form>

}