@layouts() {

    <div ng-app="WordAddApp" ng-controller="WordAddCtrl">
        <h2>ป้อนคำศัพท์ใหม่ ( Augmernt Vocabulary )</h2>

        <form class="form-horizontal" ng-submit="submitForm()">
            <div class="control-group">
                <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
                <div class="controls">
                    <input ng-model="word.lanna" type="lanna" id="inputlanna" placeholder="Lanna">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputthai">ภาษาไทย</label>
                <div class="controls">
                    <input ng-model="word.thai" type="thai" id="inputthai" placeholder="Thai">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputlink">ลิงค์</label>
                <div class="controls">
                    <input ng-model="word.link" type="link" id="inputlink" placeholder="Link">
                </div>
            </div>
            <p>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  Submit </button>
                </div>
            </div>
            </p>
        </form>

    </div>
} {
    <script type="text/javascript">

        var app = angular.module("WordAddApp",[ ] ) ;

        app.controller( 'WordAddCtrl', function ( $scope, $http , ) {
         $scope.word = { };

            $scope.submitForm = function ( ) {
            $http ( {
                url : '/word-add',
                method : 'post',
                data : $scope.word
            } ).success ( function ( response ) {
                $scope.add = response;
                 $scops.word = {}

            } )

     }
     } ) ;
    </script>

}