@layouts() {

    <div ng-app="WordAddApp" ng-controller="WordAddCtrl">
        <h2>ป้อนคำศัพท์ใหม่ ( Augmernt Vocabulary )</h2>

        <form class="form-horizontal" ng-submit="submitForm()">
            <div class="control-group">
                <label class="control-label" for="inputlanna">ภาษาล้านนา</label>
                <div class="controls">
                    <input ng-model="terminology.lanna" type="lanna" id="inputlanna" placeholder="Lanna">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputthai">ภาษาไทย</label>
                <div class="controls">
                    <input ng-model="terminology.thai" type="thai" id="inputthai" placeholder="Thai">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputlink">ลิงค์</label>
                <div class="controls">
                    <input ng-model="terminology.link" type="link" id="inputlink" placeholder="Link">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputuserid">Username</label>
                <div class="controls">
                    <input ng-model="terminology.user_id" type="user" id="inputuserid" placeholder="Username">
                </div>
            </div>
            <p>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  Submit </button>
                </div>
            </div>
            <center><h3>*หมายเหตุ* กรุณาระบุ Username ทุกครั้งเมื่อทำการป้อนคำศัพท์ใหม่</h3></center>
            </p>
        </form>

    </div>
} {
    <script type="text/javascript">

        var app = angular.module("WordAddApp",[ ] ) ;

        app.controller( 'WordAddCtrl', function ( $scope, $http ) {
         $scope.terminology = { };

            $scope.submitForm = function ( ) {
            $http ( {
                url : '/terminology-add',
                method : 'post',
                data : $scope.terminology
            } ).success ( function ( response ) {
                 $scope.terminologys = response;
                $scope.terminology = {}

            } )

     }
     } ) ;
    </script>

}