@layouted(){
  <center><h1> Admin Control </h1></center>


  <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">Terminology Control</div>

      <!-- Table -->
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Lanna</th>
        <th>Thai</th>
        <th>Link</th>
        <th>control</th>
      </tr>
    </table>
  </div>

  <p>
    <div class="controls">
        <a href="@routes.Application.admin()"> ไปหน้าควบคุมผู้ใช้งาน </a>
    </div>
  </p>
}{

}