@layouted() {
    <div ng-app="AdminApp">
    <h1> Admin Control </h1>

    <div class="panel panel-default" ng-controller="ListCtrl">
            <!-- Default panel contents -->
        <div class="panel-heading">User Control</div>

            <!-- Table -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Adress</th>
                <th>Tel</th>
                <th>E-mail</th>
                <th>Control</th>
            </tr>
            </thead>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.adress}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <i class="glyphicon glyphicon-user"></i> User
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
                                <i class="glyphicon glyphicon-pencil"></i> Edit</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
                                <i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tbody>

            </tbody>
        </table>
    </div>

    </div>
} {
    <script type="text/javascript" src="@routes.Assets.at("app/admin/AdminApp.js")"></script>
}