@layouted(){
  <center><h1> Admin Control </h1></center>

  <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">User Control</div>

      <!-- Table -->
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Password</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Adress</th>
      <th>Tel</th>
      <th>E-mail</th>
      <th>control</th>
    </tr>
  </table>
  </div>

  <p>
    <div class="controls">
        <a href="@routes.Application.admins()"> ไปหน้าควบคุมคำศัพท์ </a>
    </div>
  </p>
}{

}