@layout(){

  <div>
    <h1> วิธีแก้ไขปัญหา ฟอนต์ (Font) ไม่แสดง</h1>
    <h2>1.แก้ไขปัญหาไม่สามารถมองเห็นภาษาล้านนาได้</h2>

    Font ที่ใช้คือ Font : LN TILOK ขอขอบคุณฟอนต์จาก สำนักส่งเสริมศิลปวัฒนธรรม มหาวิทยาลัยเชียงใหม่ <a href="http://art-culture.cmu.ac.th/"> เข้าชมเว็ปไซต์ได้ที่นี้ </a>

    <br>
    ดาวน์โหลดฟอนต์ภาษาล้านนาได้ที่นี่
    <a href="@routes.Assets.at("stylesheets/LN_TILOK_V1_57.TTF")" onmouseout="HideToolTip()" onmouseover="ShowToolTip(event,'Click here to download.')" onclick="javascript:RunDownload('39010^313^164',event)" class="detailsLink">Download</a>

    <br>
    <h2>2.ตรวจสอบเบาว์เซอร์ที่ใช้</h2>
    ตรวจสอบเบาว์เซอร์ที่ใช้ว่าเป็น เวอร์ชั่นล่าสุดหรือไม่ ถ้ายังเป็น Versionเก่า ให้ทำการอัพเดตเบาว์เซอร์ของท่าน
    หรือทำการติดตั้ง เบาว์เซอร์ใหม่อีกรอบ
</div>

}{

}