@layout() {


<li class="span6">
  <div class="thumbnail">
    <img src="@routes.Assets.at("bootstrap-3.3.2-dist/img/2.jpg") " alt="">
  </div>
</li>
  <p>

<form class="form-horizontal">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">search</label>
    <div class="input-group">
      <div class="input-group-addon">ค้นหา</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="search ... ">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"> Search </button>
      </span>
  </div>
</form>

  </p>


}

