@()(content: Html)(javascript: Html)

    @layout() {
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">รายการ</a>
                <a href="/admin" class="list-group-item">เพิ่ม ลบ แก้ไขสมาชิก</a>
                <a href="/admins" class="list-group-item">เพิ่ม ลบ แก้ไขคำศํพท์</a>
                <a href="/adminaudit" class="list-group-item">ตรวจสอบคำขอของสมาชิก</a>
            </div>
        </div>

        <div class="col-lg-9">
        @content
        </div>
    } {

        @javascript

    }
