@layouts(){
  <div class="thumbnail">
    <img src="@routes.Assets.at("bootstrap-3.3.2-dist/img/10.jpg") " alt="lift">
  </div>
  <h1>Login</h1>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputusername">Username</label>
      <div class="controls">
        <input type="username" id="inputusername" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputpassword">Password</label>
      <div class="controls">
        <input type="password" id="inputpassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <p><a href="@routes.Application.register()">Register</a></p>
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-king"></i> Sign in</button
      </div>
    </div>
  </form>
}{
  
}