@layouts() {

    <div ng-app="UserAddApp" ng-controller="UserAddCtrl">
        <h1>สมัครสมาชิก ( Register )</h1>

        <form class="form-horizontal" ng-submit="submitForm()">
            <div class="control-group">
                <label class="control-label" for="inputusername"> Username</label>
                <div class="controls">
                    <input ng-model="users.username" type="username" id="inputusername" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputpassword">Password</label>
                <div class="controls">
                    <input ng-model="users.password" type="password" id="inputpassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputname"> name </label>
                <div class="controls">
                    <input ng-model="users.name" type="name" id="inputname" placeholder="Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputsurname"> Surname </label>
                <div class="controls">
                    <input ng-model="users.surname" type="surname" id="inputsurname" placeholder="Surname">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputaddress"> Address </label>
                <div class="controls">
                    <input ng-model="users.address" type="address" id="inputaddress" placeholder="Address">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputtel"> Tel </label>
                <div class="controls">
                    <input ng-model="users.tel" type="tel" id="inputtel" placeholder="Tel">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputemail"> E-mail </label>
                <div class="controls">
                    <input ng-model="users.email" type="email" id="inputemail" placeholder="E-mail">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  ยืนยันการสมัครสมาชิก </button>
                </div>
            </div>


        </form>

    </div>
} {

    <script type="text/javascript">

    var app = angular.module("UserAddApp",[ ] ) ;

    app.controller( 'UserAddCtrl', function ( $scope, $http ,$location ) {
        $scope.users = { };

        $scope.submitForm = function ( ) {
            $http ( {
                url : '/user-add',
                method : 'post',
                data : $scope.users
            } ).success ( function ( response ) {
                $scope.users = response;
                $scope.users = {}

            } )

        }
    } ) ;
    </script>

}