@layouts() {

    <div ng-app="UserAddApp" ng-controller="UserAddCtrl">
        <h1>สมัครสมาชิก ( Register )</h1>

        <form class="form-horizontal" ng-submit="submitForm()">
            <div class="control-group">
                <label class="control-label" for="inputusername"> Username</label>
                <div class="controls">
                    <input ng-model="user.username" type="username" id="inputusername" placeholder="Username" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputpassword">Password</label>
                <div class="controls">
                    <input ng-model="user.password" type="password" id="inputpassword" placeholder="Password" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputname"> ชื่อ/name </label>
                <div class="controls">
                    <input ng-model="user.name" type="name" id="inputname" placeholder="Name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputsurname"> นามสกุล/Surname </label>
                <div class="controls">
                    <input ng-model="user.surname" type="surname" id="inputsurname" placeholder="Surname" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputaddress"> ที่อยู่/Address </label>
                <div class="controls">
                    <input ng-model="user.address" type="address" id="inputaddress" placeholder="Address" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputtel"> เบอร์โทร/Tel </label>
                <div class="controls">
                    <input ng-model="user.tel" type="tel" id="inputtel" placeholder="Tel" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputemail"> E-mail </label>
                <div class="controls">
                    <input ng-model="user.email" type="email" id="inputemail" placeholder="E-mail" data-error="Bruh, that email address is invalid" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <br>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i>  ยืนยันการสมัครสมาชิก </button>
                </div>
            </div>



        </form>

    </div>
} {
    <script type="text/javascript">

    var app = angular.module("UserAddApp",[ ] ) ;

    app.controller( 'UserAddCtrl', function ( $scope, $http ) {
    $scope.user = { };

    $scope.submitForm = function ( ) {
    alert("ขอบคุณที่สมัครสมาชิก ข้อมูลของคุณได้รับการเพิ่มฐานข้อมูลแล้วแต่ยังไม่ได้อนุมัติ " +
    "เจ้าหน้าที่จะตรวจสอบข้อมูลของคุณโดยเร็วที่สุดเท่าที่เป็นไปได้ ขอบคุณมาก");
    $http ( {
    url : '/user-add',
    method : 'post',
    data : $scope.user
    } ).success ( function ( response ) {
    $scope.users = response;
    $scope.user = {}

    } )

    }
    } ) ;
    </script>

}