@layout(){
  <h1>ค้นหาคำศัพท์ ( Search Vocabulary )</h1>

  <div ng-app="SearchApp" ng-controller="SearchCtrl">

  <form class="form-horizontal" method="post" ng-submit="submitForm()">
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">search</label>
      <div class="input-group">
        <div class="input-group-addon">ค้นหา</div>
        <input type="text" class="form-control" id="search" ng-model="search.search" placeholder="search ... ">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">
              <i class="glyphicon glyphicon-search"></i> Search </button>
        </span>
      </div>
  </form>
    <p>
     {{search.text}}
    </p>

  </div>

}{
    <script type="text/javascript" src="@routes.Assets.at("app/user/SearchApp.js")"></script>
}
