@layoutterminology() {
    <div ng-app="AdminApp">
    <h1> Terminology Control </h1>

    <div class="panel panel-default" ng-controller="ListCtrl">
            <!-- Default panel contents -->
        <div class="panel-heading">terminology Control</div>

            <!-- Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Lanna</th>
                    <th>Thai</th>
                    <th>Link</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tr ng-repeat="word in words">
                <td>{{word.id}}</td>
                <td>{{word.lanna}}</td>
                <td>{{word.thai}}</td>
                <td>{{word.link}}</td>
                <td>

                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="submit" class="btn btn-default">Delete</button>


                </td>
            </tr>
            <tbody>

            </tbody>
        </table>
    </div>

    </div>
} {
    <script type="text/javascript" src="@routes.Assets.at("app/admin/AdminApp.js")"></script>
}