@layoutadmin() {


    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">รายการ</a>
                    <a href="/terminologyaudit" class="list-group-item">ตรวจสอบคำขอของสมาชิก</a>
                    <a href="/terminologyadd" class="list-group-item">เพิ่ม ลบ แก้ไขคำศํพท์</a>
                </div>
            </div>

            <div class="col-lg-9">
                <div ng-app="AdminApp">
                    <h1> ตรวจสอบคำขอเพิ่มจากผู้ใช้ </h1>

                    <div class="panel panel-default" ng-controller="ListCtrl">
                            <!-- Default panel contents -->
                        <div class="panel-heading"> รายการคำศัพท์ </div>

                            <!-- Table -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Lanna</th>
                                    <th>Thai</th>
                                    <th>Link</th>
                                    <th>Control</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="word in words">
                                <td>{{word.id}}</td>
                                <td>{{word.lanna}}</td>
                                <td>{{word.thai}}</td>
                                <td>{{word.link}}</td>
                                <td>

                                    <button type="submit" class="btn btn-default">Save</button>
                                    <button type="submit" class="btn btn-default">Delete</button>


                                </td>
                            </tr>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
            </div>
        </div>

    </div>






} {
    <script type="text/javascript" src="@routes.Assets.at("app/admin/AdminApp.js")"></script>
}